<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Hello, {{user.name}}</h1>
    <h1>Your username is {{user.username}}</h1>
    <h1>Your password is {{user.password}}</h1>
    <h1>/images/{{user._id}}.jpg</h1>
    <img src="/images/63dbeab060456a8388d028d5.jpg" alt="image error" /><br /><br />
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>

  </body>
</html>